// colors 

$main-red: #DA262D;
$main-font-color: #58595B;
$secondary-font-color: #666666;
$teal: #2B7E93;
$light-grey: #E4E4E4;
$border-color: #D2D2D2;
$light-orange: #FAC455;
$light-blue: #3BC1CD;
$btn-grey: #E9E9E9;
$btn-icon-color: #999999;

// fonts

$main-font: 'Nexa';
